{% extends 'base.html' %}

{% block content %}
<h1 class="mt-4 mb-3">Детали клиента</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Позиция</th>
                <th scope="col">Значение</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>ФИО клиента</td>
                <td>{{ client['name'] }}</td>
            </tr>
            <tr>
                <td>Электронная почта</td>
                <td>{{ client['email'] }}</td>
            </tr>
            <tr>
                <td>Номер телефона</td>
                <td>{{ client['phone_number'] }}</td>
            </tr>
            <tr>
                <td>Паспортные данные</td>
                <td>{{ client['passport'] }}</td>
            </tr>
        </tbody>
    </table>

    <h3 class="mt-4">Автомобили клиента</h3>
    {% if cars %}
    <ul class="list-group">
        {% for car in cars %}
        <li class="list-group-item">
            <strong>Марка:</strong> {{ car['car_brand'] }} <br>
            <strong>Модель:</strong> {{ car['car_model'] }} <br>
            <strong>Государственный номер:</strong> {{ car['license_plate'] }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>У клиента нет зарегистрированных автомобилей.</p>
    {% endif %}
    <a href="{{ url_for('clients_list') }}" class="btn btn-secondary mt-3">Вернуться к списку клиентов</a>
</div>
{% endblock %}