{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Редактирование сотрудника {% endblock %}</h1>
<br>
<form method="post" class="px-4">
    <div class="row mb-4">
        <label for="name" class="col-sm-3 col-form-label">ФИО сотрудника</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="name" value="{{ employee['name'] }}" placeholder="Введите ФИО сотрудника...">
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" name="email" value="{{ employee['email'] }}" placeholder="Введите email сотрудника...">
        </div>
    </div>
    <div class="row mb-3">
        <label for="phone_number" class="col-sm-3 col-form-label">Номер телефона</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="phone_number" value="{{ employee['phone_number'] }}" placeholder="Введите номер телефона сотрудника...">
        </div>
    </div>
    <div class="row mb-3">
        <label for="position" class="col-sm-3 col-form-label">Должность</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="position" value="{{ employee['position'] }}" placeholder="Введите должность сотрудника...">
        </div>
    </div>
    <div class="row mb-3">
        <label for="department" class="col-sm-3 col-form-label">Отдел</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="department" value="{{ employee['department'] }}" placeholder="Введите отдел сотрудника...">
        </div>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi-save"></i> Сохранить изменения</button>
    <a href="{{ url_for('employees') }}" class="btn btn-secondary"><i class="bi-arrow-left"></i> Вернуться к списку</a>
</form>
{% endblock %}