{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Редактирование клиента {% endblock %}</h1>
<br>
<form method="post" class="px-4">
    <div class="row mb-4">
        <label for="name" class="col-sm-3 col-form-label">ФИО клиента</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="name" value="{{ client['name'] }}" placeholder="Введите ФИО клиента...">
        </div>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-8">
            <input type="email" class="form-control" name="email" value="{{ client['email'] }}" placeholder="Введите email клиента...">
        </div>
    </div>
    <div class="row mb-3">
        <label for="phone_number" class="col-sm-3 col-form-label">Номер телефона</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="phone_number" value="{{ client['phone_number'] }}" placeholder="Введите номер телефона клиента...">
        </div>
    </div>
    <div class="row mb-3">
        <label for="passport" class="col-sm-3 col-form-label">Паспортные данные</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="passport" value="{{ client['passport'] }}" placeholder="Введите паспортные данные клиента...">
        </div>
    </div>
    <div class="row mb-3">
        <label for="address" class="col-sm-3 col-form-label">Адрес</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="address" value="{{ client['address'] }}" placeholder="Введите адрес клиента...">
        </div>
    </div>
    <button type="submit" class="btn btn-primary"><i class="bi-save"></i> Сохранить изменения</button>
    <a href="{{ url_for('clients_list') }}" class="btn btn-secondary"><i class="bi-arrow-left"></i> Вернуться к списку</a>
</form>
{% endblock %}